.os {
    background-color: chocolate;
}

body {
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
.lead {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*********************BOOTStrap****************/
/* Active link */
.navbar-nav .nav-link.active {
    background-color: #E41B17;
}

/* link */
.navbar-expand-lg .navbar-nav .nav-link {
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;


}

.navbar-brand {
    color: #BBB;
}

.navbar {
    min-height: 70px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-top: solid 3px #E41B17;
    background-color: #333;
    color: #BBB;

}

.navbar-nav .dropdown-menu:focus,
.navbar-nav .dropdown-menu :hover {
    background-color: black;
}

.dropdown-menu>li>a {
    transition: 0.5s ease;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
    color: #fff;
    background-color: #E41B17;
    padding-left: 25px;
}

.dropdown-divider {
    background-color: beige;
}

span {
    color: #E41B17;

}

/* Section Tool Box */

.option-box {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;

}

.option-box .color-option {
    float: left;
    background-color: #333;
    color: #fff;
    padding: 10x;
    width: 200px;
    border: 2px solid #E41B17;
    display: none;

}

.option-box .color-option ul li {
    width: 20px;
    height: 20px;
    background-color: #E41B17;
    display: inline-block;
    margin-right: 10px;
}

.gear-cheak {
    padding: 5px;
    background-color: #E41B17;
    color: #fff;
    cursor: pointer;
}

/* End Tool  Box*/

.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .lead {
    color: #888;
    font-size: 25px;
    margin-top: 15px;
}

.about h1 {
    font-weight: bold;
}

.about h1 span {
    color: #E41B17;
}

.features {
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features h1 {
    margin-bottom: 50px;
}

.features .feat p {
    line-height: 2em;
}

.features .feat {
    margin-bottom: 20px;
}

.features .feat i {
    font-size: 22px;
    margin-bottom: 10px;
    color: #E41B17
}

.testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials h1 {
    font-weight: bold;
    margin-bottom: 20px;

}

.testimonials .lead {
    line-height: 2em;
}

.carousel-item span {
    font-size: 18px;
    font-weight: bold;
    color: #E41B17;
}

.carousel-indicators {
    margin-top: 20px;
    position: static;
    width: 100%;
    margin-left: auto;


}

.carousel-indicators [data-bs-target] {
    text-indent: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E41B17;
    transition: all 0.5s ease;
}

/* .testimonials .carousel-indicators {} */

.testimonials .carousel-inner {
    min-height: 160px !important;
}

.price-table h1 {

    margin-bottom: 40px;
}

.price-table {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.price-table .price-box {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #DDD;
    margin-bottom: 15px;

}

.price-table .price-box h2 {
    margin: 5px 0 15px;
}

.price-table .price-box p {
    font-size: 35px;
    font-weight: bold;
    color: #666;
    width: 100px;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 50%;
    line-height: 100px;
    transition-duration: 0.5s;
    border-radius: 2px solid #fff;
}

.price-table .price-box:hover p {

    transform: scale(1.1) rotate(360deg);
    border-radius: 2px solid #dfdfdf;

}

.price-table .price-box ul {
    line-height: 250%;
}

.price-table .price-box a {
    margin-bottom: 5px;
}

.our_team {
    background: url("../images/christin-hume-Hcfwew744z4-unsplash.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}

.our_team .team {
    background: rgba(2, 2, 2, 0.7);
    color: #fff;
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our_team .team h1 {
    padding-bottom: 60px;
}

.person {
    padding-bottom: 20px;
}

.person img {
    width: 200px;
    height: 200px;
}

.person h3 {
    padding-top: 10px;
}

.person i img {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.subscribe h1 {
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.form-control {
    width: 80%;
    margin-left: 10%;
    border-radius: 0px;
}

.subscribe button {
    margin-top: 15px;
    border-radius: 0px;
}

.statistec {
    background: url("../images/OIG4.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 300px;

}

.statistec .data {
    background: rgba(2, 2, 2, 0.7);
    color: #888;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;

}

.statistec h1 {
    margin-bottom: 60px;
}

.statistec p {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;

}

.stats span {
    color: #888;
    font-size: 18px;
}

.statistec .stats {
    padding-bottom: 30px;
    transition: all() 0.5s ease-in-out;
}

.statistec .stats:hover {
    color: #fff;
}

.progress {
    margin-bottom: 20px;
    height: 36px;
}

.our_skills {
    padding-top: 40px;
    padding-bottom: 80px;
}

.our_skills h1 {
    margin-bottom: 60px;
}

.skill-progress {

    margin-bottom: 20px;
}

.our_skills h3 {
    margin-top: 0;
    font-weight: bold;
}

.progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    text-indent: 10px;
}

.contact_us {
    background: url('../images/vladstudio_squareelephantwashere_1280x1024.jpg') no-repeat center fixed;
    background-size: cover;
    min-height: 300px;

}

.contact_us .fields {
    background: rgba(8, 8, 8, 0.7);
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 80px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.contact_us p {
    margin-bottom: 40px;
}

.contact_us textarea {
    height: 108px;
}

.contact_us .btn {
    width: 80%;
}

.contact_us input[type="text"],
.contact_us textarea {

    background: rgba(82, 78, 78, 0.7);

    color: #fff;
    border: none;
}

.our_clients {
    background: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our_clients li {

    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.5s;
}

.our_clients li:hover {

    opacity: 1;
}

.footer {
    padding-top: 20px;

    background: #111;
    color: #AAA;
}

.footer h3 {
    color: #0895D1;
    letter-spacing: 1px;
    margin: 30px 0px 20px;
}

.footer a {
    color: #AAA;
}

.footer li:hover {
    color: #fff;
}

.footer .three-columns {
    overflow: hidden;

}

.footer .three-columns li {
    width: 33.33333%;
    float: left;
    padding: 5px 0;
}

.footer .social-list {
    overflow: hidden;
    margin: 20px 0px 10px;

}

.footer .social-list li {
    float: left;
    margin-right: 5px;
    opacity: 0.7;
    transition: 0.4s;
}

.footer .social-list li:hover {
    opacity: 1;
}

.footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #444;
    margin-bottom: 5px;
}

.footer .copy_right {
    background: #333;
    color: #AAA;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;
}

.footer .copy_right span {

    color: #0895D1;
}

/* START MEDIA QUARY */

@media (max-width: 767px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px;
    }

    .our_work {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}